.rightbar{
    flex: 4;
}

.rightbarWrapper{
    padding: 20px 20px 0px 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.birthdayText{
    font-size: 15px;
}

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin: 20px;
    margin-left: 5px;
}

.friendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarprofileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
}

.rightbarprofileImg:hover{
    border: 2px solid rgb(220, 220, 189);
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: -2px;
    right: 0px;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}